button
{
    padding: 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.choice-img
{
    
    min-width: 20px;
    max-width: 100px;
    padding: 20px;
    border-radius: 20px;
}
.img-scoreboard
{
    width: 30px;
}